{"type":"RdbSnapshotFinished","db_type":"mongo","schema":"test_db_1","tb":"finish_tb_1"}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_tb_1","order_key":{"single":["_id","{\"ObjectId\":\"648195af9aa9cadd41a9dcb2\"}"]}}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_string_tb_1","order_key":{"single":["_id","{\"String\":\"b\"}"]}}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_int32_tb_1","order_key":{"single":["_id","{\"Int32\":2}"]}}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_binary_tb_1","order_key":{"single":["_id","{\"CanonicalExtJson\":{\"$binary\":{\"base64\":\"Ag==\",\"subType\":\"00\"}}}"]}}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_decimal_tb_1","order_key":{"single":["_id","{\"CanonicalExtJson\":{\"$numberDecimal\":\"2.2\"}}"]}}
{"type":"RdbSnapshot","db_type":"mongo","schema":"test_db_1","tb":"resume_document_tb_1","order_key":{"single":["_id","{\"CanonicalExtJson\":{\"k\":{\"$numberInt\":\"2\"}}}"]}}
